@font-face {
  font-family: 'myshare';
  src: url('fonts/fonttitle.otf');
}
@font-face {
  font-family: 'sub';
  src: url('fonts/29.ttf');
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 75vh;
}
.qrCode{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 60vh;
  text-align: center;
}
.title-font{
  font-family: "myshare";
}
.subtitle{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.read{
  font-family: "sub";
}
.scanner{
  width: 75%;
  margin: auto;
  position: relative;
}
.bord{
  position: absolute;
}
.bord:nth-child(1){
  left: -1.5%;
  top: 11%;
  width: 50px;
  height: 50px;
  border-left: 5px  outset #2196f3;
  border-top: 5px inset #2196f3;
}
.bord:nth-child(2){
  right: -1.5%;
  top: 11%;
  width: 50px;
  height: 50px;
  border-right: 5px inset #2196f3;
  border-top: 5px inset #2196f3;
}
.bord:nth-child(3){
  left: -1.5%;
  bottom: 11%;
  width: 50px;
  height: 50px;
  border-left: 5px inset #2196f3;
  border-bottom: 5px inset #2196f3;
}
.bord:nth-child(4){
  right: -1.5%;
  bottom: 11%;
  width: 50px;
  height: 50px;
  border-right: 5px inset #2196f3;
  border-bottom: 5px outset #2196f3;
}
@media (max-width: 768px) {
  .container, .qrCode{
    min-height: 50vh;
  }
}
@media only screen and (min-width: 900px) {
  .scanqr {
      display: none;
  }
}